body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #b9f4f2;
   padding: 20px;
   background-image: url("bg.jpg");
}

.container {
   max-width: 650px; 
   margin: 0 auto;
   margin-top: 5rem;
   background: rgb(243, 244, 247);
   padding: 30px;
   border-radius: 12px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   transition: 0.3s;
}
.container:hover {
   transform: scale(1.03) translateY(-5px); 
   box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

h2 {
   text-align: center; 
   color: #2c3e50;
   margin-bottom: 25px;
}

/* Form Elements */
.search-box {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}
select, button, input {
   padding: 12px;
   flex: 1;
   border: 1px solid #ccc;
   border-radius: 6px; 
   font-size: 16px; 
}

button { 
   background-color: #007bff;
   color: white; 
   border: none;
   font-weight: bold; 
   cursor: pointer; 
   transition: background 0.3s;
}
button:hover { background-color: #0056b3; }

/* Flight Cards */
#results-area {
   margin-top: 25px;
}
.flight-card { 
   border-left: 5px solid #007bff;
   background: #f8f9fa;
   padding: 15px;
   margin-bottom: 12px; 
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.price {
   font-size: 1.3em;
   font-weight: bold; 
   color: #28a745; 
   margin-top: 5px;
}
.loading { 
   text-align: center;
   color: #666;
   display: none;
   margin-top: 20px; 
}
.error {
   color: red;
   text-align: center;
   margin-top: 20px; 
}

/* ---------- MODAL ---------- */
.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
   justify-content: center;
   align-items: center;
}

.modal-content {
   background: #fff;
   padding: 25px;
   width: 350px;
   border-radius: 10px;
   text-align: center;
}

.modal-buttons {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.cancel {
   background: red;
}
.cancel:hover {
   background: darkred;
}

/* ---------- PAYMENT SECTION ---------- */
.payment-container {
   max-width: 600px;
   margin: 30px auto;
   padding: 25px;
   background: #fff;
   border-radius: 10px;
   display: none;
   box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.pay-buttons {
   display: flex;
   gap: 10px;
   margin-bottom: 15px;
}

.qr-img {
   width: 180px;
   display: block;
   margin: 15px auto;
}

.hidden {
   display: none;
}

/* SUCCESS BOX */
.success-box {
   margin-top: 20px;
   padding: 20px;
   border-left: 5px solid green;
   background: #e8ffe8;
   border-radius: 8px;
   text-align: center;
}
